@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

html {
	text-align: center;
	color: #fff;
}
body {
	background: url(./background.svg);
}
#page {
	overflow-y: auto;
}
#top {
	display: flex;
	justify-content: center;
	border-radius: 8px;
	overflow: hidden;
	background: url(./patternpad.png);
	align-items: center;
	height: 635px;
	top: 0;
	left: 0;
}
#top > img {
	width: 90px;
	margin-left: 20px;
	display: inline-block;
}
#header, #desc {
	font-size: 44px;
	display: block;
	font-family: 'Quicksand', sans-serif;
}
#desc {
	position: absolute;
	margin-top: 120px;
	font-size: 16px;
}
#disco {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: large;
	background: #0011ff;
	border-radius: 4px;
	border: none;
	padding: 8px;
	width: 150px;
	height: 60px;
	cursor: pointer;
}
.card {
	display: inline-block;
	font-family: 'Quicksand', sans-serif;
	width: 92%;
	max-width: 300px;
	text-align: justify;
	border-radius: 5px;
	color: #000;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin: 7px;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	cursor: pointer;
}
.card > img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	opacity: 0.85;
	padding: none;
	transition: 0.3s;
}
.card > img:hover {
	opacity: 1;
}
.card > .container {
	margin-top: -4px;
	padding: 2px 16px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #fff;
}
#musicPlayer {
	z-index: 1;
	font-family: 'Quicksand', sans-serif;
	background: #333;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	position: fixed;
}
#musicPlayer > #albumCover {
	width: 48px;
	margin-bottom: -8px;
}
#musicPlayer > #info {
	background-color: #373737;
	border-radius: 8px;
	padding: 8px;
	height: auto;
	text-align: justify;
	width: 15%;
	transition: width 1.5s;
	transition-timing-function: ease-in-out;
}
#musicPlayer > #info.goto {
	width: 40%;
}
#musicPlayer > #info, #musicPlayer > button {
	z-index: 2;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	background: #444;
	border-radius: 5px;
}
#musicPlayer > button {
	height: 48px;
	width: 48px;
	bottom: 8px;
	border: none;
	transition: 0.3s;
}
#musicPlayer > button:hover {
	background: #999;
	cursor: pointer;
}
#musicPlayer > #close {
	z-index: 3;
	display: inline-block;
	bottom: 15;
	right: 1;
	left: 40;
	position: fixed;
	cursor: pointer;
}
#info > #musicName {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
#info > #musicAlbum {
	display: block;
    font-size: 0.67em;
    font-weight: bold;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: #222;
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
	background: #333;
}
.all-round {
	border-radius: 8px;
}